.about {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
