.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.home-title {
  font-size: 3.3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: center;
  color: #2d2e32;
  font-weight: bold;
}

.home-text {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}
